// Custom font-size
$logo-font-size = 25px
$subtitle-font-size = 15px
// custom color
$custom-blue = #445f9a
// Headband custom setting
$headband-bg = $custom-blue

// Site Meta
$site-meta-bg = $custom-blue

// 正文字体大小
$font-size-base = 16px

// 代码字体的大小
$code-font-size = 13px

// 标题，修改成你期望的字体族
$font-family-headings = Georgia, sans

// 修改成你期望的字体族
$font-family-base = "Microsoft YaHei", Verdana, sans-serif

// 代码字体
$code-font-family = "Input Mono", "PT Mono", Consolas, Monaco, Menlo, monospace

