// Custom styles.
// 正文字体的大小
$font-size-base = 16px

// 代码字体的大小
$code-font-size = 13px

// custom color
$custom-blue = #445f9a
// Headband custom setting
$headband-bg = $custom-blue

// Site Meta

$site-meta-bg = $custom-blue
