// Custom font-size
$logo-font-size = 25px
$subtitle-font-size = 15px
// custom color
$custom-blue = #445f9a
// Headband custom setting
$headband-bg = $custom-blue

// Site Meta
$site-meta-bg = $custom-blue

